NODE_ENV=development
FRONTEND_URL= 'FRONTEND_URL_HERE'
COMPANY_NAME='WeVOIS Lab Pvt Ltd'
# Connect to Supabase via connection pooling
DATABASE_URL="postgres://postgres.PROJ_KEY:PASSWORD@REGION.pooler.supabase.com:PORT/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.PROJ_KEY:PASSWORD@REGION.pooler.supabase.com:PORT/postgres"

PRISMA_CLIENT_ENGINE_TYPE=binary


# Auth related variables
TOKEN_SECRET=replace_with_a_long_random_secret
ACCESS_EXPIRE_SHORT=15m
ACCESS_EXPIRE_REMEMBER=4d

# Email Config
 MAILAPI_URL = 'YOUR_EMAIL_API_URL_HERE'